#include <physical_layouts.dtsi>

/ {
    default_layout: default_layout {
        compatible = "zmk,physical-layout";
        display-name = "Default Layout";

        keys  //                     w   h    x    y     rot    rx    ry
            = <&key_physical_attrs 100 100    0    0       0     0     0>
            , <&key_physical_attrs 100 100  120    0       0     0     0>
            , <&key_physical_attrs 100 100  240    0       0     0     0>
            , <&key_physical_attrs 100 100  360    0       0     0     0>
            , <&key_physical_attrs 100 100  480    0       0     0     0>
            , <&key_physical_attrs 100 100  600    0       0     0     0>

            , <&key_physical_attrs 100 100    0  120       0     0     0>
            , <&key_physical_attrs 100 100  120  120       0     0     0>
            , <&key_physical_attrs 100 100  240  120       0     0     0>
            , <&key_physical_attrs 100 100  360  120       0     0     0>
            , <&key_physical_attrs 100 100  480  120       0     0     0>
            , <&key_physical_attrs 100 100  600  120       0     0     0>

            , <&key_physical_attrs 100 100    0  240       0     0     0>
            , <&key_physical_attrs 100 100  120  240       0     0     0>
            , <&key_physical_attrs 100 100  240  240       0     0     0>
            , <&key_physical_attrs 100 100  360  240       0     0     0>
            , <&key_physical_attrs 100 100  480  240       0     0     0>
            , <&key_physical_attrs 100 100  600  240       0     0     0>

            , <&key_physical_attrs 100 100    0  360       0     0     0>
            , <&key_physical_attrs 100 100  120  360       0     0     0>
            , <&key_physical_attrs 100 100  240  360       0     0     0>
            , <&key_physical_attrs 100 100  360  360       0     0     0>
            , <&key_physical_attrs 100 100  480  360       0     0     0>
            , <&key_physical_attrs 100 100  600  360       0     0     0>

            , <&key_physical_attrs 100 100  120  480       0     0     0>
            , <&key_physical_attrs 100 100  240  480       0     0     0>
            , <&key_physical_attrs 100 100  360  480       0     0     0>
            , <&key_physical_attrs 100 100  480  480       0     0     0>
            , <&key_physical_attrs 100 100  600  480       0     0     0>

            , <&key_physical_attrs 100 100  900    0       0     0     0>
            , <&key_physical_attrs 100 100  1020   0       0     0     0>
            , <&key_physical_attrs 100 100  1140   0       0     0     0>
            , <&key_physical_attrs 100 100  1260   0       0     0     0>
            , <&key_physical_attrs 100 100  1380   0       0     0     0>

            , <&key_physical_attrs 100 100  900  120       0     0     0>
            , <&key_physical_attrs 100 100  1020 120       0     0     0>
            , <&key_physical_attrs 100 100  1140 120       0     0     0>
            , <&key_physical_attrs 100 100  1260 120       0     0     0>
            , <&key_physical_attrs 100 100  1380 120       0     0     0>
            , <&key_physical_attrs 100 100  1500 120       0     0     0>

            , <&key_physical_attrs 100 100  900  240       0     0     0>
            , <&key_physical_attrs 100 100  1020 240       0     0     0>
            , <&key_physical_attrs 100 100  1140 240       0     0     0>
            , <&key_physical_attrs 100 100  1260 240       0     0     0>
            , <&key_physical_attrs 100 100  1380 240       0     0     0>
            , <&key_physical_attrs 100 100  1500 240       0     0     0>

            , <&key_physical_attrs 100 100  900  360       0     0     0>
            , <&key_physical_attrs 100 100  1020 360       0     0     0>
            , <&key_physical_attrs 100 100  1140 360       0     0     0>
            , <&key_physical_attrs 100 100  1260 360       0     0     0>
            , <&key_physical_attrs 100 100  1380 360       0     0     0>
            , <&key_physical_attrs 100 100  1500 360       0     0     0>

            , <&key_physical_attrs 100 100  900  480       0     0     0>
            , <&key_physical_attrs 100 100  1020 480       0     0     0>
            , <&key_physical_attrs 100 100  1140 480       0     0     0>
            , <&key_physical_attrs 100 100  1260 480       0     0     0>
            , <&key_physical_attrs 100 100  1380 480       0     0     0>
            ;

    };
};
