#include <dt-bindings/zmk/matrix_transform.h>
#include <physical_layouts.dtsi>


/ {
    chosen {
        zmk,kscan = &kscan0;
       /* zmk,matrix-transform = &default_transform; */
        zmk,physical-layout = &default_layout;
    };

    kscan0: kscan {
        compatible = "zmk,kscan-gpio-matrix";
        diode-direction = "col2row";
        wakeup-source;
    };

    default_transform: matrix_transform {
        compatible = "zmk,matrix-transform";
        columns = <12>;
        rows = <5>;

        map = <
RC(0,0) RC(0,1) RC(0,2) RC(0,3) RC(0,4) RC(0,5)  RC(0,6) RC(0,7) RC(0,8) RC(0,9) RC(0,10) RC(0,11)
RC(1,0) RC(1,1) RC(1,2) RC(1,3) RC(1,4) RC(1,5)  RC(1,6) RC(1,7) RC(1,8) RC(1,9) RC(1,10) RC(1,11)
RC(2,0) RC(2,1) RC(2,2) RC(2,3) RC(2,4) RC(2,5)  RC(2,6) RC(2,7) RC(2,8) RC(2,9) RC(2,10) RC(2,11)
RC(3,0) RC(3,1) RC(3,2) RC(3,3) RC(3,4) RC(3,5)  RC(3,6) RC(3,7) RC(3,8) RC(3,9) RC(3,10) RC(3,11)
        RC(4,1) RC(4,2) RC(4,3) RC(4,4) RC(4,5)  RC(4,6) RC(4,7) RC(4,8) RC(4,9) RC(4,10)
        >;
    };

    default_layout: default_layout {
        compatible = "zmk,physical-layout";
        display-name = "Default Layout";
        kscan = <&kscan0>;
        transform = <&default_transform>;

        keys
        // ========================
        // ROW 0
        // ========================
        = <&key_physical_attrs 100 100    0    0 0 0 0>
        , <&key_physical_attrs 100 100  120    0 0 0 0>
        , <&key_physical_attrs 100 100  240    0 0 0 0>
        , <&key_physical_attrs 100 100  360    0 0 0 0>
        , <&key_physical_attrs 100 100  480    0 0 0 0>
        , <&key_physical_attrs 100 100  600    0 0 0 0>

        , <&key_physical_attrs 100 100  840    0 0 0 0>
        , <&key_physical_attrs 100 100  960    0 0 0 0>
        , <&key_physical_attrs 100 100 1080    0 0 0 0>
        , <&key_physical_attrs 100 100 1200    0 0 0 0>
        , <&key_physical_attrs 100 100 1320    0 0 0 0>
        , <&key_physical_attrs 100 100 1440    0 0 0 0>

        // ========================
        // ROW 1
        // ========================
        , <&key_physical_attrs 100 100    0  120 0 0 0>
        , <&key_physical_attrs 100 100  120  120 0 0 0>
        , <&key_physical_attrs 100 100  240  120 0 0 0>
        , <&key_physical_attrs 100 100  360  120 0 0 0>
        , <&key_physical_attrs 100 100  480  120 0 0 0>
        , <&key_physical_attrs 100 100  600  120 0 0 0>

        , <&key_physical_attrs 100 100  840  120 0 0 0>
        , <&key_physical_attrs 100 100  960  120 0 0 0>
        , <&key_physical_attrs 100 100 1080  120 0 0 0>
        , <&key_physical_attrs 100 100 1200  120 0 0 0>
        , <&key_physical_attrs 100 100 1320  120 0 0 0>
        , <&key_physical_attrs 100 100 1440  120 0 0 0>

        // ========================
        // ROW 2
        // ========================
        , <&key_physical_attrs 100 100    0  240 0 0 0>
        , <&key_physical_attrs 100 100  120  240 0 0 0>
        , <&key_physical_attrs 100 100  240  240 0 0 0>
        , <&key_physical_attrs 100 100  360  240 0 0 0>
        , <&key_physical_attrs 100 100  480  240 0 0 0>
        , <&key_physical_attrs 100 100  600  240 0 0 0>

        , <&key_physical_attrs 100 100  840  240 0 0 0>
        , <&key_physical_attrs 100 100  960  240 0 0 0>
        , <&key_physical_attrs 100 100 1080  240 0 0 0>
        , <&key_physical_attrs 100 100 1200  240 0 0 0>
        , <&key_physical_attrs 100 100 1320  240 0 0 0>
        , <&key_physical_attrs 100 100 1440  240 0 0 0>

        // ========================
        // ROW 3
        // ========================
        , <&key_physical_attrs 100 100    0  360 0 0 0>
        , <&key_physical_attrs 100 100  120  360 0 0 0>
        , <&key_physical_attrs 100 100  240  360 0 0 0>
        , <&key_physical_attrs 100 100  360  360 0 0 0>
        , <&key_physical_attrs 100 100  480  360 0 0 0>
        , <&key_physical_attrs 100 100  600  360 0 0 0>

        , <&key_physical_attrs 100 100  840  360 0 0 0>
        , <&key_physical_attrs 100 100  960  360 0 0 0>
        , <&key_physical_attrs 100 100 1080  360 0 0 0>
        , <&key_physical_attrs 100 100 1200  360 0 0 0>
        , <&key_physical_attrs 100 100 1320  360 0 0 0>
        , <&key_physical_attrs 100 100 1440  360 0 0 0>

        // ========================
        // THUMB ROW (10 keys)
        // RC(4,1)–RC(4,10)
        // ========================

        , <&key_physical_attrs 100 100  120  480 0 0 0>
        , <&key_physical_attrs 100 100  240  480 0 0 0>
        , <&key_physical_attrs 100 100  360  480 0 0 0>
        , <&key_physical_attrs 100 100  480  480 0 0 0>
        , <&key_physical_attrs 100 100  600  480 0 0 0>

        , <&key_physical_attrs 100 100  840  480 0 0 0>
        , <&key_physical_attrs 100 100  960  480 0 0 0>
        , <&key_physical_attrs 100 100 1080  480 0 0 0>
        , <&key_physical_attrs 100 100 1200  480 0 0 0>
        , <&key_physical_attrs 100 100 1320  480 0 0 0>
        ;
    };
};
